################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VBM/obj
/.vs
/VBM/bin/Debug/net5.0
